* {box-sizing: border-box;}

body{
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962;
}


/*====================== Login Page CSS_pp==============================*/

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
}


.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    min-height: 700px;
    height: 100%;
    overflow: hidden;
    background-color: #3B60E4;
    padding: 60px;
    text-align: center;
}

.img-holder .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-holder .info-holder img {
    width: 100%;
    max-width: 378px;
}

.img-holder .bg {
    position: absolute;
    opacity: 0.23;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
} 

div.login-section {
    background-color: #1e272e;
    display: flex;

}

.form-holder {
    margin: auto;
    width: 100%;
    height: 100%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18%;
    min-height: 100%;
}

.form-content .form-group {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content .page-links a {
    color: #fff;
  }
  
.form-content .page-links a:after {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
.form-content .page-links a.active:after {
    background-color: #fff;
  }
  
.form-content .page-links a:hover:after,
.form-content .page-links a:focus:after {
    background-color: #fff;
  }

div.login-form {
    margin-top: 30px;
}

div.login-form button.btn {
    width: 100%;
    background-color: #3B60E4;
    color: white;
    border-color: #3B60E4;

}
  

/*==================Navigation CSS====================*/

.navigation {
    background-color: #1e272e!important;
}

.navigation a {
    color: white;
}

.navigation .navbar-nav a{
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-buttons {
    padding: 0;
    margin-right: 20px;
}



/* CourseDetails.php */

#course-heading{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 300px;
    background-color: #A1D6FF;
}

.course-heading-content{
    padding-top: 70px;
    padding-left: 40px;
    color: #1e272e;
}

#course-main-section{
    background-color: #1e272e;

}

.course-about-heading{
    color: white;
    margin: auto;
    padding: 30px;
}

#course-main-section ul.list-group{
    background-color: #1e272e;
    color: white;
    
}


#course-main-section  li{
    padding-left: 0;
    list-style-type: square;
}

.course-details{
    color: white;
}

.instructor {
    text-align: center;
}

/* remove this stylying after cropping image */
.instructor img{
    height: 300px;
    border-color: #3B60E4;
    border-style: solid;
    padding: 20px;
}

/* Browse Courses */
.center {
    margin: auto;
}