* {box-sizing: border-box;}

body{
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962;
}



/* Index page  */

.indbody{
    font-family: 'Lato',sans-serif;
    height : 100vh;
    /*yaha pe sirf ek acha image uthake dalde
    baki color aur baki ke maine uske jaise hi kiye dusra kuch rakhna hai to bhi kar de */
    background: white url() no-repeat center center / cover;
    color : white;
    overflow: hidden;
}

.container11{
    background-color: #1e272e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 3rem;    
}

/* h1,h2{
    font-weight: 200;
    margin : 0.4rem;
} */

/* @media(min-width: 1200px){
    h1{
        font-size: 4.5rem;
    }    
    h2{
        font-size: 3rem;
    }
} */

/*cursor  */
.txt-type > .txt{
    border-right: 0.2rem solid #777;
}
.hi{
    background-color: white;
    height: 100vh;
}



/*====================== Login Page CSS_pp==============================*/

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
}

.website-logo img {
    height: 90px;
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    min-height: 700px;
    height: 100%;
    overflow: hidden;
    background-color: #3B60E4;
    padding: 60px;
    text-align: center;
}

.img-holder .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-holder .info-holder img {
    width: 100%;
    max-width: 378px;
}

.img-holder .bg {
    position: absolute;
    opacity: 0.23;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
} 

div.login-section {
    background-color: #1e272e;
    display: flex;

}

.form-holder {
    margin: auto;
    width: 100%;
    height: 100%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18%;
    min-height: 100%;
}

.form-content .form-group {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content .page-links a {
    color: #fff;
  }
  
.form-content .page-links a:after {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
.form-content .page-links a.active:after {
    background-color: #fff;
  }
  
.form-content .page-links a:hover:after,
.form-content .page-links a:focus:after {
    background-color: #fff;
  }

div.login-form {
    margin-top: 30px;
}

div.login-form button.btn {
    width: 100%;
    background-color: #3B60E4;
    color: white;
    border-color: #3B60E4;

}
  

/*==================Navigation CSS====================*/
nav {
    -webkit-box-shadow: 0px 7px 28px 0px rgba(0,0,0,0.64); 
    box-shadow: 0px 7px 28px 0px rgba(0,0,0,0.64);
}

.navigation {
    background-color: #1e272e!important;
}

.navigation a {
    color: white;
}

.navigation .navbar-nav a{
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-buttons {
    padding: 0;
    margin-right: 20px;
}






/* CourseDetails.php */

#course-heading{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 300px;
    background-color: #A1D6FF;
}

.course-heading-content{
    padding-top: 70px;
    padding-left: 40px;
    color: #1e272e;
}

#course-main-section{
    background-color: #1e272e;

}

.course-about-heading{
    color: white;
    margin: auto;
    padding: 30px;
}

#course-main-section ul.list-group{
    background-color: #1e272e;
    color: white;
    
}


#course-main-section  li{
    padding-left: 0;
    list-style-type: square;
}

.course-details{
    color: white;
}

.instructor {
    text-align: center;
}

/* remove this stylying after cropping image */
.instructor img{
    height: 300px;
    border-color: #3B60E4;
    border-style: solid;
    padding: 20px;
}

/* Browse Courses */
.center {
    margin: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
  }
  
a.learnmore {
    margin-top: auto;
  }

.inbody{
    font-family: 'Lato',sans-serif;
    height: inherit;
    /*yaha pe sirf ek acha image uthake dalde
    baki color aur baki ke maine uske jaise hi kiye dusra kuch rakhna hai to bhi kar de 
    background: white url() no-repeat center center / cover;*/
    
    color :#1e272e;
}

.container-browse-courses{
    background-color: #A1D6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding: 0 3rem;    
}


/* Viewcourse */
.video-container{
    margin: auto;
    width: 80%;
}

.video-container iframe{
    padding: 20px;

}


/* mycourses */
.jumbotron {
    text-align: center;
    background: none;
}


/* aboutus.php */
.about-us {
    padding: 30px;
}

.about-us img {
    border-radius: 50%;
}

.about-us-card {
    width: 70%;
}

div.icons a {
    display: inline;
    padding: 30px;
}

div.icons a i {
    padding-top: 20px;
    font-size: 40px;
}

div.address p.hello {
    color:  #a6a6a6;
}

div.address h3.site-name {
    font-weight: 800;
    font-size: 40px;
}

div.address p {
    font-size: 20px;
}



/* Footer */

footer {
    background-color: #1e272e;
    -webkit-box-shadow: 0px -7px 28px 0px rgba(0,0,0,0.64); 
    box-shadow: 0px -7px 28px 0px rgba(0,0,0,0.64);
    color: white;
}

.foorter-heading {
    font-weight: 600;
    font-size: 30px;
}

.footer-left-desc p{
    margin: 0;
}

.footer-links {
    margin: auto;
}

.footer-links ul{
    list-style: none;
    
}

.footer-links ul li a {
    text-decoration: none;
    color: #A1D6FF;
}

.footer-links ul li a:hover {
    color: #3B60E4;
}


.copyright {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 5px;
}



/* ################################## Mobile Responsive ################################################## */
@media only screen and (max-width: 600px) {
    /* Navbar */
    .nav-buttons {
        margin: 5px;
    }

    div.jumbotron .display-2 {
        font-size: 60px;
    }

    /* About Us */
    .about-us-card {
        width: 90%;
    }

    .about-us-name {
        font-size: 160%;
    }

    div.icons a i {
        padding-top: 20px;
        font-size: 120%;
    }

    .about-us-div {
        padding-top: 5%;
    }

    .about-us-map iframe {
        width: 100%;
    }

    /* Browse Courses */

    div.container h1.display-4 {
        font-size: 50%;
    }

    #course-heading {
        width: 100%;
        margin: 0;
    }

    .browse-course-card {
        width: 95%;
    }

    .browse-course-div {
        padding-top: 4%;
    }


    /* Login */
    .website-logo {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .website-logo img {
        height: 50px;
    }

    .img-holder {
        display: none;
    }

    .login-form-mobile {
        margin-top: 25px;
    }

    /* Footer */
    .footer-links {
        padding: 0;
    }
}


/* Much Smaller Devices */
@media only screen and (max-width: 340px) {
    /* About Us */

    .about-us-card {
        width: 100%;
    }


    .about-us-name {
        font-size: 140%;
    }

    #course-heading {
        width: 100%;
        margin: 0;
    }

    div.jumbotron .display-3 {
        font-size: 60px;
    }

    div.jumbotron p {
        font-size: 15px;
    }

}